################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/discountCalculator/.vs/discountCalculator/FileContentIndex
/WindowsFormsApp1/.vs/WindowsFormsApp1
/WindowsFormsApp1/.vs/Windows/FileContentIndex/2986a5c1-7fd2-424f-892c-30b52fd7ad01.vsidx
/WindowsFormsApp1/.vs/Windows/FileContentIndex/b55d5b92-8eec-41bc-b5bd-8a37b0036c96.vsidx
/WindowsFormsApp1/.vs/Windows/FileContentIndex/f02851f5-c22d-4ce5-bbff-8b21e549bd92.vsidx
